<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Matador de Monstro</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <!-- Health Container -->
        <section class="container">
             <div class="score">
                <p class="player-name">Player</p>
                <div class="health-container">
                    <div 
                        :style= "{
                            width: healthPlayer + '%', 
                            'background-color': barColorPlayer
                        }" 
                        class="health-bar">
                    </div>
                </div>
                <p class= "health-percent"> {{ healthPlayer }} </p>
             </div>
             <div class="score">
                <p class="player-name">Monster</p>
                <div class="health-container">
                    <div 
                        :style="{
                            width: healthMonster + '%', 
                            'background-color': barColorMonster
                        }" 
                        class="health-bar">
                    </div>
                </div>
                <p class= "health-percent"> {{ healthMonster }} </p>
            </div>
        </section>
        <!-- GameOver Container -->
        <section v-if="endGame" class="container"> 
            <p :style="{color: gameOverColor}"  class="game-over"> {{ gameOverMSG }} </p>
        </section>
        <!-- Buttons Container -->
        <section class="container"> 
            <button @click="newGame" v-if="!gameOn" class="btn btn-newgame"> NEW GAME </button>
            <div v-if="gameOn" >
                <button @click="attack" class="btn btn-attack"> ATTACK </button>
                <button @click="specialAttack" class="btn btn-special-attack"> SPECIAL ATTACK </button>
                <button @click="heal" class="btn btn-heal"> HEAL </button>
                <button @click="run" class="btn btn-run"> RUN </button>
            </div>
        </section>
        <section class="container log">
            <template v-for="damage in damageLog">
                <p class="log-text monster" > THE MONSTER HIT YOU: {{ damage.monster }}</p>
                <p class="log-text player" > YOUR DAMAGE CAUSED: {{ damage.player }} </p>
            </template>
        </section>
    </div>
    <script src="app.js"></script>
</body>
</html>