/* Geral */

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

#app {
    display: flex;
    flex-direction: column;
}

.container {
    /* Grid Setup */
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-around;

    /* Style */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin: 10px;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-name {
    font-size: 1rem;
}

.health-container {
    width: 500px;
    border: 1px solid gray;
    height: 20px;
}

.health-bar {
    height: 100%;
    transition: width 2s;
}

.health-percent {
    font-size: 0.5rem;
}

.game-over {
    margin: 0;
    font-size: 0.8rem;
}

.btn {
    border-radius: 5px;
    border: none;
    height: 30px;
    font-size: 0.5rem;
    padding: 5px 30px;
    font-weight: bold;
}

.btn-newgame {
    color: white;
    background-color: rgba(0, 0, 250, 0.8);
}

.btn-attack {
    color: white;
    background-color: rgba(250, 0, 0, 0.8);
}

.btn-special-attack {
    background-color: rgba(255, 255, 0, 0.8);
}

.btn-heal {
    background-color: rgba(0, 255, 0, 0.8);
}

.btn-run{
    color: white;
    background-color: grey;
}

.log {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
}

.log-text {
    margin: 0;
    width: 80%;
    text-align: center;
    color: white;
    box-sizing: border-box;
    margin: 3px;
}

.log-text.monster{
    background-color: rgba(250, 0, 0, 0.6);
}
.log-text.player{
    background-color: rgba(0, 0, 250, 0.6);
}